body {
  background-color: #cea78a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  top: 0;
}

li {
  display: inline;
  padding: 8px;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #ad8362;
}

.dropdown-content a{
  text-align: left;
}
